:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #f9f7f2;
    --entry: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f9f7f2;
    --border: #eee;
    --light-on-dark: #fff;
    --highlight: #fff;
    --orange: #ff800c;
}

/* background colors */

.about {
    --theme: #f0ffe9;
}

.colophon {
    --theme: #e4f1ee;
}

.now {
    --theme: #f9cfc0;
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #333;
    --light-on-dark: #ccc;
    --highlight: #37383e;
}

.list, .dark.list  {
    background: var(--theme);
}


