<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print "dark" }}
{{- end -}}

{{- if eq $.Layout `about-layout` -}}
{{- print " about" }}
{{- end -}}

{{- if eq $.Layout `colophon-layout` -}}
{{- print " colophon" }}
{{- end -}}

{{- if eq $.Layout `now-layout` -}}
{{- print " now" }}
{{- end -}}

{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type .Layout .Params }}
</body>

</html>
