.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--main-width) + var(--gap) * 20);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    padding-bottom: 8rem;
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
    flex-wrap: inherit;
    font-size: 17px;
}

#theme-toggle svg {
    /*height: 18px;*/
}

button#theme-toggle { /*  */
    font-size: 26px;
    line-height: 40px;
    margin: auto 4px
}

body.dark #moon {
    /*vertical-align: bottom;*/
    display: none
}

body:not(.dark) #sun {
    display: none
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap
}

#menu li+li {
    margin-inline-start: var(--gap)
}

#menu a {
    font-size: 17px
}

#menu .active {
    font-weight: bold;
/*    border-bottom: 2px solid currentColor;*/
    /*background-color: white;*/
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit
}
