/* -----------------------------------
GRID AND POSITIONING
----------------------------------- */
.main {
    position: relative;
    /*min-height: calc(100vh - var(--header-height) - var(--footer-height));*/
    max-width: calc(var(--main-width) + var(--gap) * 20);
    margin: auto;
    padding: var(--gap);
}

.sidebar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
}

.pinboard {
    grid-column: 1 / 5;
    grid-row: 2;
    padding-top: 3em;
}

.movies {
    grid-column: 3 / 5;
    grid-row: 1; 
    padding-bottom: 2em;
}

.books {
    grid-column: 1 / 3;
    grid-row: 1; 
}

/* -----------------------------------
PAGES: HOMEPAGE
----------------------------------- */
article.snippet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding-bottom: 8rem;
}

article.snippet div.post-summary {
    grid-column: 2 / 5;
    grid-row: 1; 
}

article.snippet div.post-meta { /* post date */
    font-size: 14px;
    padding: 0.5em 0 1em;
}

article.snippet h1 {
    margin: 0;
}

article.snippet h1 a {
    text-decoration: none;
}

main div.sidebar a:link {
    font-weight: bold;
}

main a:hover {
}

main article a {
    padding: 2px;
    margin: -2px;
    text-decoration: none;
    border-bottom: 1px dotted var(--orange);
}

main article p a:hover {
    border-bottom: 1px solid var(--orange);
}

.sidebar a {
    text-decoration: none !important;
}

/* -----------------------------------
MOVIES, BOOKS, PINBOARD
----------------------------------- */
.movies ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movies li {
    padding: 0.5em 0;
}

.movies a {
    font-weight: bold;
}

.books center, .books .gr_custom_header_1620425797 {
    display: none;
}

.sidebar h2 {
    font-size: 1.3em;
}

.books .gr_custom_title_1620425797 {
    font-weight: bold;
    padding-top: 2.8em;
}

.books img {
    float: left;
    padding-right: 1em;
}

.books .gr_custom_title_1620425797,
.books .gr_custom_author_1620425797 {
    /*float: right;*/
}

.pinboard ul, 
.pinboard ul.rss-items {
    background-color: var(--highlight);
    padding: 1.5em;
    margin: 0 -0.5em;
    border-radius: 10px;
    -webkit-transition: background-position .1s;
    transition: background-position .1s;
    -webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 1em;
    -webkit-column-gap: 1em; 
    -moz-column-gap: 1em;
}

p.rss-title {
    display: none;
}

.pinboard li,
.pinboard li.rss-item {
    list-style-type: none;
    margin-bottom: 1.5em;
    line-height: 160%;
    padding-right: 2em;
}

.pinboard li.rss-item br {
    display: none;
}

.pinboard li a,
.pinboard li.rss-item a {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

/* add arrow to external links */
.more a[href*='http']:not([href^='#']):not([href^='/']):after, .more a[href*='http']:not([href^='#']):not([href^='/']):after {
    content: " →";
}

.more {
    padding-top: 1em;
}

.more a {
    font-weight: bold;
}

.pinboard .more {
    text-align: right;
}


/* -----------------------------------
PAGES: ABOUT
----------------------------------- */
div.headline {
    font-size: 1.5em;
    padding: 1rem 0;
}

/* mobile view */
@media (max-width: 415px) {
    div.headline {
        font-size: 1.2em;
    }
}

.about section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
}

.about sidebar {
    font-size: 0.9em;
}

.about img.kwon  {
    width: 280px;
    background-color: var(--entry);
    padding: 4em;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-transition: background-position .1s;
    transition: background-position .1s;
    -webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.about article {
    grid-column: 1 / 3;
    grid-row: 1;
}

.about ul {
    list-style-type: "→ ";
    padding-left: 1em;
/*    margin-left: 0;*/
}

/* mobile view */
@media (max-width: 415px) {
    .about section,
    .colophon article,
    article.post-single,
    .pinboard ul {
        display: block !important;
        columns: 1 !important;
        -webkit-columns: 1 !important;
        -moz-columns: 1 !important;
    }
}

/* images in articles */
body.about section#main figure,
body div.post-content figure {
    padding: 5em 0;
    grid-column: 1 / 5;
    grid-row: 2;
}

body.about section#main figure img,
body div.post-content figure img {
    width: 100% !important;
}

body.about section#main figcaption,
body div.post-content figcaption  {
    color: var(--secondary);
    text-align: center;
    font-size: 0.8em;
    /*padding-top: 0.3em;*/
}

figure.border-dotted img {
    border: 1px dotted grey;
}

/* -----------------------------------
PAGES: COLOPHON
----------------------------------- */
.colophon article {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 2em;
    -webkit-column-gap: 2em; 
    -moz-column-gap: 2em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.colophon article p {
    margin-top: 0;
}

.colophon .blurb {
    font-size: 1.3em; 
    padding-bottom: 1em;
}

.colophon div.sidebar {
    padding-top: 4em;
    display: block;
    font-size: 0.8em;
}

/* -----------------------------------
PAGES: NOW
----------------------------------- */



/* -----------------------------------
PAGES: NOTES - SINGLE
----------------------------------- */
section.notes article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em 1.5em;
    padding-bottom: 1em;
}

.post-single {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
}

.post-header {
    grid-column: 1 / 2;
    grid-row: 1;
}

.post-content {
    grid-column: 2 / 5;
    grid-row: 1; 
}

section.footnotes {
    font-size: 0.9em;
    color: var(--secondary);
}

section.footnotes hr {
    border-top: 1px dotted var(--tertiary);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    height: 0;
    margin: 8rem 0 2rem;
    width: 100%;
}

figure.full img {
    width: 20%;
}

/* -----------------------------------
PAGES: NOTES - LIST
----------------------------------- */

/* notes list */
body.list section.notes article span a { 
    font-size: 1em;
    font-weight: normal;   
}

/* notes list - mobile */
@media (max-width: 415px) {
    body.list section.notes article span a { 
        font-size: 1.8em;
        line-height: 1.4;
        font-weight: normal;   
        text-decoration: none;
    }
}

.pagination {
    display: flex
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px
}

.pagination .next {
    margin-inline-start: auto
}

.social-icons {
    padding: 12px 0
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px
}

.social-icons a svg {
    height: 26px;
    width: 26px
}

code {
    direction: ltr
}
