{{- define "main" }}

{{ .Content }}

{{ $jsonData := index $.Site.Data.fun }}

<table>
  <thead>
    <tr>
      <th class="article">Article</th>
      <th class="author">Author</th>
      <th>Date published</th>
      <th>Date added ↓</th>
    </tr>
  </thead>
  <tbody>
    {{ range $jsonData }}
    <tr>
      <td class="title"><a href="{{ .url }}">{{ .title }}</a></td>
      <td class="author">
        {{ range .authors }}
          <a href="{{ .authorUrl }}">{{ .authorName }}</a><br />
        {{ end }}
      </td>
      <td class="date">{{ .datePublished }}</td>
      <td class="date added">{{ .dateAdded }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}
