{{ define "main" }}
<h1 id="title">{{ .Title }}</h1>
<section id="main">
  
  <div>
  	<img class="kwon" loading="lazy" src="kwon.png" alt="Illustration of the author, a Korean American woman in her 30s with eyeglasses" />
  	<br />

  </div>
  
  <article id="content">
    {{ .Content }}
  </article>

  <sidebar>
  	40° 43' 50.1960" N<br />
  	73° 56' 6.8712" W<br />
    Brooklyn, New York
  </sidebar>
  
  <figure>
  	<img src="multikwon.jpg" alt="A Photoshopped image of 5 Kwons and one Calla, all wearing various matching sweatsuits, on a grey sectional couch" class="multikwon" />
  	<figcaption>Kwontuplets</figcaption>
  </figure>

</section>

{{ end }}